
<style>
  
</style>


<div>
  <div class="container-navbar-pestana-vertical-govco blue-pestana-govco">
    <nav class=" navbar-expand-lg navbar-pestana-vertical-govco ">
      <div class="container-fluid">
        <div class="navbar-collapse">
          <ul class="navbar-expand-lg" style="list-style:none;">
            <li class="nav-item">
              <a id="pestvuno" class="nav-link " href="javascript:void(0)" (click)="PrimerIcon()">
                <div class="linea-vertical-govco" id="hrvuno">
                  <div class="row campo-texto-pestana-govco">
                    <div class="col-3 col-md-3 col-lg-3 ">
                      <p id="letrapest1">
                        Pestaña
                      </p>
                    </div>
                    <div class="col-1 col-md-1 col-lg-1">
                      <p id="PrimeraPestana" class="icon_right">
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a id="pestvdos" class="nav-link" href="javascript:void(0)" onclick="SegundoIcon()">
                <div class="linea-vertical-govco" id="hrvdos">
                  <div class="row campo-texto-pestana-govco">
                    <div class="col-3 col-md-3 col-lg-3 ">
                      <p id="letrapest2">
                        Pestaña
                      </p>
                    </div>
                    <div class="col-1 col-md-1 col-lg-1">
                      <p id="SegundaPestana" class="icon_right">
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a id="pestvtres" class="nav-link" href="javascript:void(0)" onclick="TerceroIcon()">
                <div class="linea-vertical-govco" id="hrvtres">
                  <div class="row campo-texto-pestana-govco">
                    <div class="col-3 col-md-3 col-lg-3 ">
                      <p id="letrapest3">
                        Pestaña
                      </p>
                    </div>
                    <div class="col-1 col-md-1 col-lg-1">
                      <p id="TerceraPestana" class="icon_right">
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a id="pestvcuatro" class="nav-link" href="javascript:void(0)" onclick="CuartoIcon()">
                <div class="linea-vertical-govco" id="hrvcuatro">
                  <div class="row campo-texto-pestana-govco">
                    <div class="col-3 col-md-3 col-lg-3 ">
                      <p id="letrapest4">
                        Pestaña
                      </p>
                    </div>
                    <div class="col-1 col-md-1 col-lg-1">
                      <p id="CuartaPestana" class="icon_right">
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a id="pestvcinco" class="nav-link" href="javascript:void(0)" onclick="QuintoIcon()">
                <div class="linea-vertical-govco" id="hrvcinco">
                  <div class="row campo-texto-pestana-govco">
                    <div class="col-3 col-md-3 col-lg-3 ">
                      <p id="letrapest5">
                        Pestaña
                      </p>
                    </div>
                    <div class="col-1 col-md-1 col-lg-1">
                      <p id="QuintaPestana" class="icon_right">
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>


</div>
 

<router-outlet></router-outlet>
